.row { max-width: 1920px; }

.onoffswitch-switch,
.onoffswitch-switch:before,
.onoffswitch-switch:after {
    -moz-box-sizing: content-box;
}

.lightboard {
    margin-right: 20px;
    /*background-color: #eee;*/
    /*border-radius: 10px;*/
    padding: 20px;
    border: 1px solid #ddd;
}

.switchlabel {
    margin-top: 8px;
}

/*body, .button {
    font-family: ';
}*/

.weather {
    margin-top: 80px;
}

#time {
    font-size: 6em;
    color: #333;
    margin-bottom: 150px;
}

#alerts-container {
   position: fixed;
   top: 5px;
   right: 5px;
   padding: 0;
   z-index: 1100;
}
 
#alerts-container .toast {
   /* add a shadow */
   -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

